.display-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f4f6fb;
  padding: 10px;
  border-radius: 8px;
  font-size: 46px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 10px;
  min-height: 55px;
  flex-wrap: wrap;
}

.expression {
  color: #333;
  flex-grow: 0.6;
}

.result {
  color: #23a6f0;
}
